[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
	ignore = dirty
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
	ignore = dirty
[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
	shallow = true
	ignore = dirty
[submodule "submodules/tmux-resurrect"]
	path = submodules/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	shallow = true
	ignore = dirty
[submodule "submodules/tmux-yank"]
	path = submodules/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-jellybeans"]
	path = submodules/vim-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-airline-themes"]
	path = submodules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-syntastic"]
	path = submodules/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-ctrlp"]
	path = submodules/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-tagbar"]
	path = submodules/vim-tagbar
	url = https://github.com/majutsushi/tagbar.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-gitgutter"]
	path = submodules/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	shallow = true
	ignore = dirty
[submodule "submodules/vim-gnupg"]
	path = submodules/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	branch = main
	shallow = true
	ignore = dirty
[submodule "submodules/vim-puppet"]
	path = submodules/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
	shallow = true
	ignore = dirty
[submodule "submodules/tmux-ssh-host"]
	path = submodules/tmux-ssh-host
	url = https://github.com/yuuan/tmux-ssh-host.git
	shallow = true
	ignore = dirty
[submodule "submodules/zsh-powerlevel10k"]
	path = submodules/zsh-powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
	ignore = dirty
