<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox">
		<separator label="OpenBox"/>
		<item label="Terminal">
			<action name="Execute">
				<command>urxvtc</command>
			</action>
		</item>
		<separator/>
		<menu id="applications" label="Applications">
			<item label="Browser">
				<action name="Execute">
					<command>firefox</command>
				</action>
			</item>
			<item label="Mail">
				<action name="Execute">
					<command>sylpheed</command>
				</action>
			</item>
			<item label="FileManager">
				<action name="Execute">
					<command>pcmanfm</command>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
